/*main {
  margin-top: -150px;
}*/

main > div > h1 {
  display: none;
}

.article-banner {
  margin-left: calc(-100vw / 2 + 50%);
  margin-right: calc(-100vw / 2 + 50%);
  margin-bottom: 2rem;
}

.article-banner img {
  width: 100%;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article-content h1 {
  font-family: "lyon", times new roman, serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2em;
  margin: 1rem 0;
}

.article-content h2 {
  font-family: "replica", arial, sans-serif;
  font-size: 1.8rem;
  width: 50%;
}

.article-content h3 {
  font-family: "lyon", times new roman, serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.article-content p {
  font-family: "lyon", times new roman, serif;
  font-size: 1rem;
  line-height: 1.6em;
  width: 50%;
  font-size: 18px;
  margin: 1rem 0;
  font-feature-settings: lnum;
  font-variant-numeric: oldstyle-nums;
}

.article-content p:first-of-type {
  margin-top: 0;
}

.article-content a {
  font-family: "replica", arial, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.article-content a:hover {
  text-decoration: none;
}

.article-content blockquote {
  width: 40%;
  margin: 0 10% 0 0;
  position: relative;
  align-self: flex-start;
  font-family: "lyon", times new roman, serif;
  font-weight: bold;
}
.article-content blockquote > div {
  position: absolute;
  top: 0;
  left: 0;
}
.article-content blockquote .pullquote-number {
  line-height: 1.2em;
  font-size: 8rem;
  font-feature-settings: lnum;
  font-variant-numeric: lining-nums;
  font-kerning: normal;
  letter-spacing: -3px;
  margin-bottom: 0;
}
.article-content blockquote .pullquote-text {
  line-height: 1.2em;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.article-content#udi-a blockquote .pullquote-text,
.article-content#udi-b blockquote .pullquote-text,
.article-content#udi-c blockquote .pullquote-text {
  color: #0077c8;
}

.article-content#uhw-a blockquote .pullquote-text,
.article-content#uhw-b blockquote .pullquote-text,
.article-content#uhw-c blockquote .pullquote-text,
.article-content#uhw-d blockquote .pullquote-text,
.article-content#uhw-e blockquote .pullquote-text {
  color: #009a44;
}

.article-content#gsj-a blockquote .pullquote-text,
.article-content#gsj-b blockquote .pullquote-text,
.article-content#gsj-c blockquote .pullquote-text,
.article-content#gsj-d blockquote .pullquote-text {
  color: #eb0072;
}

.article-content#ed-a blockquote .pullquote-text,
.article-content#ed-b blockquote .pullquote-text,
.article-content#ed-c blockquote .pullquote-text {
  color: #F06C00;
}

.article-content#cc-a blockquote .pullquote-text,
.article-content#cc-b blockquote .pullquote-text,
.article-content#cc-c blockquote .pullquote-text {
  color: #792082;
}

.article-content#mi-a blockquote .pullquote-text,
.article-content#mi-b blockquote .pullquote-text,
.article-content#mi-c blockquote .pullquote-text {
  color: #004c9b;
}

.article-content blockquote .pullquote-text::before {
  content: open-quote;
  position: absolute;
  left: -1rem;
}
.article-content blockquote .pullquote-text::after {
  content: close-quote;
}
.article-content blockquote .pullquote-src,
.article-content figcaption {
  color: #000;
  font-family: "replica", arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1rem;
}
.article-content blockquote .pullquote-src {
  margin-top: 0;
}
.article-content figure {
  margin: 2rem 0;
}

.left {
  width: 40%;
  align-self: flex-start;
  position: relative;
  margin: 0 10% 0 0;
}

.article-title {
  position: absolute;
  top: 1rem;
  left: 0;
  margin-bottom: 1rem;
}

.article-icon,
.article-icon-mobile {
  border-radius: 50%;
  background-color: #888;
  width: 100px;
  height: 100px;
}

.article-icon img,
.article-icon-mobile img {
  width: 100%;
}

.article-icon-mobile {
  display: none;
}

.article-img {
  width: 100%;
}

.full-width {
  background: #888;
  margin: 3rem 0;
  margin-left: calc(-100vw / 2 + 50%);
  margin-right: calc(-100vw / 2 + 50%);
}

/*.related-articles-container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row wrap;
}

.related-articles-container h2 {
  flex: 1 100%;
  margin: 2rem 0;
}

.related-articles {
  display: flex;
  flex: 1 0 0;
  margin-bottom: 2.5rem;
  align-items: center;
}

.related-icon {
  border-radius: 50%;
  background-color: #fff;
  width: 150px;
  height: 150px;
  margin-right: 1.5rem;
  flex: 1 0 auto;
}

.related-icon img {
  width: 100%;
}

.related-title {
  font-family: "replica", arial, sans-serif;
  margin-right: 2rem;
}

.related-title h3 {
  margin-top: 0;
}

.other-areas {
  display: flex;
  flex-flow: row wrap;
}

.other-areas h2 {
  flex: 1 100%;
}

.pillar {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 2rem 1rem 0;
  font-family: "replica", arial, sans-serif;
}

.pillar-icon {
  border-radius: 50%;
  background-color: #888;
  width: 100px;
  height: 100px;
}

.pillar h3 {
  margin: 1rem 0;
}

.pillar-description img {
  width: 40px;
  margin-top: 1rem;
  display: block;
}*/

/* responsive */

@media (max-width: 1199px) {
  .article-content blockquote .pullquote-number.small {
    font-size: 5.5rem;
  }
}

@media (max-width: 800px) {
  /*main {
    margin-top: -105px;
  }*/

  .article-content {
    display: block;
  }
  .article-content h1 {
    font-size: 2.4rem;
    margin-top: 0.5rem;
  }
  .article-content h3 {
    font-size: 1.5rem;
  }

  .left, .article-content h2, p, blockquote {
    width: 100%;
  }

  .article-content h1, .article-content blockquote {
    margin: 1rem 0 2rem;
    width: 100%;
  }

  .pullquote-text {
    margin-top: 2rem;
  }

  .article-title, .article-content blockquote > div {
    position: static;
  }

  .article-icon {
    display: none;
  }

  .article-icon-mobile {
    display: inline-block;
    float: left;
    margin: 0 1rem 0.5rem 0;
    width: 70px;
    height: 70px;
  }

  .article-content p {
    font-size: 20px;
    line-height: 1.4em;
    width: 100%;
  }

  .article-content a {
    font-size: 20px;
  }

  .article-content blockquote .pullquote-number {
    font-size: 6rem;
  }

  /*.related-articles-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .related-articles, .other-areas .pillar {
    flex: 1 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }

  .related-icon {
    margin: 1rem 0;
  }

  .related-title {
    margin: 0;
  }

  .other-areas .pillar {
    margin-right: 0;
  }

  .pillar-icon {
    width: 150px;
    height: 150px;
  }

  .pillar-description a {
    display: flex;
    justify-content: center;
  }*/
}